* {
  margin: 0;
}
#header {
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #000;
}
#heading{
  font-size: 2rem;
  font-weight: 900;
}
.title{
  font-size: 1.8rem;
  font-weight: 900;
}

.highlight{
  background-color: #fce936;
}

.sub-title{
  font-size: 1.3rem;
  font-weight: 900;
}

.source{
  font-weight: 900;
  font-style: italic;
}

.underline{
  text-decoration: underline;
}

#menu {
  font-family: Baloo Bhai;
  padding: 10px 50px;
  background-color: #26f2a4;
  border-bottom: 2px solid black;
}

.menu-item{
  width: fit-content;
}

a {
  color: #000;
}

a:hover {
  color: #b526f2;
}
#container {
  font-family: Source Sans Pro;
  position: relative;
  padding: 10px;
  font-size: 1.2rem;
}
#sidebar {
  position: absolute;
  right: 0;
  top: 20px;
  padding: 20px;
  width: 30%;
  border-left: 2px solid #000;
}
#pic-box {
  padding: 20px;
}
#definition, #benefits {
  padding: 50px 10%;
  width: 40%;
  border-bottom: 2px solid black;
}

#generic, #exercise {
  padding: 50px;
}

#footer {
  padding: 40px;
  color: #fff;
  background-color: #000;
  text-align: center;
}
